<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
   <link href="/css/style.css" rel="stylesheet">
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 1.2rem; padding: 15px 0;">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">TechStore</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav me-auto">
	        <li class="nav-item active">
	          <a class="nav-link" href="index.html">Ana Sayfa</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Hakkında</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">İletişim</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="checkout.html">Sepetim</a>
	        </li>
	      </ul>
	      <form class="d-flex me-auto" id="search_container">
	        <div class="input-group">
	          <input class="form-control form-control-lg" type="search" placeholder="Ürün, kategori ve marka ara" aria-label="Search">
	          <span class="input-group-text bg-light search-icon-container" >
	            <i class="bi bi-search search_icon"></i>
	          </span>
	        </div>
	      </form>
		  <a class="btn btn-outline-danger ms-auto" href="#" onclick="document.getElementById('logoutForm').submit();">Çıkış Yap</a>
		  <form id="logoutForm" action="/perform_logout" method="post" style="display: none;">
		      <input type="hidden" name="_csrf" value="${_csrf.token}"/>
		  </form>
	    </div>
	  </div>
	</nav>

	<style>
		.search-icon-container:hover {
		  background-color: #000000;
		  cursor: pointer; 
		}
		.search-icon-container:hover .search_icon {
		  color: black; 
		  transform: scale(1.2); 
		  transition: transform 0.3s ease; 
		}
	 </style>




	
	<div class="carousel-container">
	       <div class="carousel">
	           <div class="slide">
	               <img src="https://images.hepsiburada.net/banners/s/1/819-357/appbanner133807015074400042.png/format:webp" alt="Resim 1">
	           </div>
	           <div class="slide">
	               <img src="https://images.hepsiburada.net/banners/s/1/819-357/category-sda-ocakmarkagunleriphilipsfritozhero-06-01133804032234138511.jpg/format:webp" alt="Resim 2">
	           </div>
	           <div class="slide">
	               <img src="https://images.hepsiburada.net/banners/s/1/819-357/category-sda-ocakmarkagunleriroborockqrevohero-07-01133806305311477151.jpg/format:webp" alt="Resim 3">
	           </div>
			   <div class="slide">
			   	   <img src="https://images.hepsiburada.net/banners/s/1/819-357/gra-187448-appbanner133803751558479889.png/format:webp" alt="Resim 1">
			   </div>
			   <div class="slide">
				   <img src="https://images.hepsiburada.net/banners/s/1/819-357/gra-187784-appbanner133806312962689325.jpg/format:webp" alt="Resim 1">
               </div>
               <div class="slide">
			       <img src="https://images.hepsiburada.net/banners/s/1/819-357/gra-187006-appbanner133801227785806711.jpg/format:webp" alt="Resim 1">
	           </div>
			   <div class="slide">
			       <img src="https://images.hepsiburada.net/banners/s/1/424-185/category-bilg-ocakmarkagunlericaspermonitorhero-06-01133805851215953174.jpg/format:webp" alt="Resim 1">
	           </div>
	       </div>
	       <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
	       <button class="next" onclick="moveSlide(1)">&#10095;</button>
	   </div>
	
	   
	   <div class="container-fluid text-center">
	     <h2 class="text-start ms-5" style="margin-top: 50px">Bu Ay En Çok Satılanlar</h2>
	     <div class="row">
	       <div
	         id="EnCokSatılanlarcarousel"
	         class="carousel slide"
	         data-bs-ride="false" >
	         <div class="carousel-inner" role="listbox">
	           <div class="carousel-item active">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/777/424-600/110000767460737.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">iPhone 16 128GB Siyah</div>
					   <p class="price">59.999</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/777/424-600/110000834340862.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">
	                     Casper Excalibur M.E238FHD-G 23.8" 200HZ 1MS 300NIT (HDMI+Display Port) Curved Freesync + G-Sync FHD Monitör
	                   </div>
					   <p class="price">4.499</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/777/424-600/110000806810480.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">
	                     Monster Tulpar T7 V20.6.2 Intel Core i7 13700H 32 GB RAM 1 TB SSD 8 GB RTX 4060 FreeDOS 17,3" FHD 144 Hz Oyun Bilgisayarı
	                   </div>
					   <p class="price">57.599</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/462/424-600/110000499323454.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">
	                     Apple Watch Seri 9 Gps 45MM Gece Yarısı Alüminyum Kasa Spor Kordon - M/l MR9A3TU/A
	                   </div>
					   <p class="price">17.999</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/777/424-600/110000791112640.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">
	                    Samsung 50Q60D 50" 126 Ekran Uydu Alıcılı 4K Ultra HD Smart QLED TV
	                   </div>
					   <p class="price">31.999</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/777/424-600/110000678594910.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">Philips NA350/00 3000 Serisi Çift Hazneli Airfryer</div>
					   <p class="price">6.129</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/32/424-600/10359127932978.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">Samsung VC07R302MVP/TR Toz Torbasız Elektrikli Süpürge, Mor</div>
					   <p class="price">3.399</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/149/424-600/110000104125726.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">SteelSeries Arctis 7+ Plus Siyah Multi-Platform Wireless Kablosuz 7.1 Usb-C Gaming Oyuncu Kulaklık Pc/ps4/ps5/switch/mac/mobil</div>
					   <p class="price">6.149</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/437/424-600/110000469386798.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">HONOR Pad X9 4GB 128GB WiFi 11.5'' Uzay Gri Tablet</div>
					   <p class="price">5.699</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/49/424-600/10983949860914.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">Apple MacBook Air M1 Çip 8GB 256GB SSD macOS 13" QHD Taşınabilir Bilgisayar Uzay Grisi MGN63TU/A</div>
	                   <div class="tooltip-box">Sepete ekle</div>
					   <p class="price">31.599</p>
	                 </div>
	               </div>
	             </div>
	           </div>
	           <div class="carousel-item">
	             <div class="col-md-2">
	               <div class="card">
	                 <div class="card-img">
	                   <img
	                     src="https://productimages.hepsiburada.net/s/777/424-600/110000787442617.jpg/format:webp"
	                     class="img-fluid"
	                   />
	                   <div class="card-description">
	                     Samsung Galaxy A06 128 GB 4 GB Ram Siyah
	                   </div>
					   <p class="price">6.999</p>
	                   <div class="tooltip-box">Sepete ekle</div>
	                 </div>
	               </div>
	             </div>
	           </div>
	         </div>
	         <a
	           class="carousel-control-prev bg-transparent w-auto"
	           href="#EnCokSatılanlarcarousel"
	           role="button"
	           data-bs-slide="prev"
	         >
	           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	         </a>
	         <a
	           class="carousel-control-next bg-transparent w-auto"
	           href="#EnCokSatılanlarcarousel"
	           role="button"
	           data-bs-slide="next"
	         >
	           <span class="carousel-control-next-icon" aria-hidden="true"></span>
	         </a>
	       </div>
	     </div>
	   </div>
	      
	

<div class="container-fluid text-center">
  <h2 class="text-start ms-5" style="margin-top: 50px">Akıllı Telefonlar</h2>
  <div class="row">
    <div id="smartphonecarousel" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/777/424-600/110000767394997.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">iPhone 16 128GB Siyah</div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/543/424-600/110000603451962.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  Xiaomi Redmi Note 13 Pro 256GB 8gb Ram Mor
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/337/424-600/110000156696698.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  Apple iPhone 13 128 GB Yeşil Cep Telefonu
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/777/424-600/110000639862880.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  POCO C65 256 GB 8 GB Ram Siyah
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/777/424-600/110000767669126.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  Apple iPhone 16 Pro 128GB Çöl Titanyum
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/462/424-600/110000498569710.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  Apple iPhone 15 128 GB Siyah
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/777/424-600/110000859033355.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  Xiaomi Redmi 14C 8GB 256GB
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-2">
            <div class="card">
              <div class="card-img">
                <img
                  src="https://productimages.hepsiburada.net/s/777/424-600/110000787442617.jpg/format:webp"
                  class="img-fluid"
                />
                <div class="card-description">
                  Samsung Galaxy A06 128 GB 4 GB Ram Siyah
                </div>
                <div class="tooltip-box">Sepete ekle</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev bg-transparent w-auto"
        href="#smartphonecarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next bg-transparent w-auto"
        href="#smartphonecarousel"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>




<div class="container-fluid text-center">
    <h2 class="text-start ms-5" style="margin-top: 50px;">Laptoplar</h2>
    <div class="row">
        <div id="laptopCarousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-img">
                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000767460737.jpg/format:webp" class="img-fluid">
                               <div class="card-description">Laptop 1 Açıklama</div>
                               <div class="tooltip-box">Sepete ekle</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-img">
                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000805731086.jpg/format:webp" class="img-fluid">
                               <div class="card-description">Laptop 2 Açıklama</div>
                               <div class="tooltip-box">Sepete ekle</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-img">
                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000689188763.jpg/format:webp" class="img-fluid">
                               <div class="card-description">Laptop 3 Açıklama</div>
                               <div class="tooltip-box">Sepete ekle</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-img">
                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000681644448.jpg/format:webp" class="img-fluid">
                               <div class="card-description">Laptop 4 Açıklama</div>
                               <div class="tooltip-box">Sepete ekle</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-img">
                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000760241894.jpg/format:webp" class="img-fluid">
                               <div class="card-description">Laptop 5 Açıklama</div>
                               <div class="tooltip-box">Sepete ekle</div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="carousel-item">
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-img">
                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000650764406.jpg/format:webp" class="img-fluid">
                               <div class="card-description">Laptop 6 Açıklama</div>
                               <div class="tooltip-box">Sepete ekle</div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="carousel-item">
				                    <div class="col-md-2">
				                        <div class="card">
				                            <div class="card-img">
				                               <img src="https://productimages.hepsiburada.net/s/777/424-600/110000650764406.jpg/format:webp" class="img-fluid">
				                               <div class="card-description">Laptop 6 Açıklama</div>
				                               <div class="tooltip-box">Sepete ekle</div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-auto" href="#laptopCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-auto" href="#laptopCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="/js/script.js"></script>
</body>
</html>